{% extends "base.html" %}
{% block title %}Crear Producto{% endblock %}
{% block content %}



<div class="card">
    <div class="card-header">
        <h4>Crear Un Nuevo Producto</h4>
    </div>

    <div class="card-body">
        <h4 class="card-title">Datos del Producto</h4>
        {%include 'inventario/form.html'%}
    </div>
</div>

            
            
            {% for campo in formulario_inventario %}

            
            {% endfor %}
            
            
{% endblock %}
