{% extends "base.html" %}
{% block title %}Editar Movimiento de Inventario{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header">
            <h4 class="card-title mb-0">Editar Movimiento de Inventario</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% include 'movimientos/form.html' %}
                <button type="submit" class="btn btn-primary">Actualizar Movimiento</button>
                <a href="{% url 'movimientos.index' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
