<nav class="navbar navbar-light bg-white shadow-sm px-3">
    <div class="d-flex align-items-center">

        <button class="btn btn-light me-3" id="toggleSidebar">
            <i class="bi bi-list fs-3"></i>
        </button>

        <a href="{%url 'index' %}"><h5 class="m-0">Dashboard</h5></a>
    </div>

    <div class="d-flex align-items-center">
        <i class="bi bi-bell fs-4 me-3"></i>
        <i class="bi bi-gear fs-4 me-3"></i>

        <img src="https://i.pravatar.cc/40" class="rounded-circle" width="40">
    </div>
</nav>
